html 
 head 
  title Multer-Demo 
 body
  h1 For Single File:-
  form(action="/upload" method='post',enctype='multipart/form-data')
   label(for="myfile") Select File: 
   input(type="file",name='myfile', id='myfile')
   br
   br
   input(type='Submit',value='Upload')