html
 head
  title My File
 body
  h1 Home Page
  div Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati ex assumenda neque id, similique nobis delectus fugit consequuntur et maiores possimus nostrum molestiae commodi fugiat quibusdam iure quisquam nam. Eos, libero consectetur, exercitationem quod saepe fugiat nulla quaerat enim corporis unde explicabo. Cupiditate aliquam ullam ipsam distinctio eligendi. Libero beatae a modi quaerat? Obcaecati ut natus error tenetur, adipisci quidem eligendi aut ea? Tempora sunt pariatur, non incidunt commodi ratione impedit similique dolorum numquam adipisci maiores eius tenetur nostrum voluptate quo autem velit at culpa dolor, veniam quisquam ab ut. Eveniet officiis cum, porro qui unde explicabo rem adipisci architecto.
  br
  div
   |This is 
   |some multiline text
  br
  |Line after break
  div. 
   This is
   some multiline text
  div#myid.myclass 
   |This text has 
   |both id & class
  br
  ol(type='A')
   li abc
   li def
   li xyz
  br
  ol(type='A',start=4)
   li abc
   li def
   li xyz
  br
  ol(type='A',reversed)
   li abc
   li def
   li xyz
  br
  p
   b this is text 
    i this is test 
   b this is text
  br
  //This is buffered comment
  //-This is unbuffered(hidden) comment
  //
   this is multiline comment
  br
  b Buffered and Unbuffered 
  //Unbuffered method
  -var no=640;
  //buffered
  h2='Multi: '+(no*5)
  br
  h3 Dynamic text: #{msg}
  h3 Amount: #{amount}
  h3='Multiplied Amount: '+(amount*5)